-r requirements.txt
-r test-requirements.txt

# For additional local testing/linting - to be added elsewhere eventually.
ruff
shellcheck
pytest-icdiff
# pytest-profiling
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
